@{ 
    ViewData["Title"] = "No Private files";
}

<div class="container">
    <h1>
        You dont have private files
    </h1>
    <a asp-action="UploadFile" asp-controller="WorkSpace" class="btn btn-primary">Upload files</a>
</div>
